# Logs
logs
*.log
npm-debug.log*

# Dependencies
**/node_modules/

# Production builds
**/dist/
**/dist-ssr/

# Environment files
**/.*env
**/.*env.*
.env
.env.local
.env.production
.env.development

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
