PORT=5000
NODE_ENV=production
DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:[PORT]/postgres?pgbouncer=true"
JWT_SECRET="generate-a-long-random-string-for-security"
JWT_REFRESH_SECRET="generate-another-long-random-string-for-security"
